{{template "base" .}}
{{define "css"}}
<style>
        
    .singleVideo {
      border-radius: 20px; /* Adjust the value as needed for the desired level of rounding */
      display: block;
      margin: 0 auto; /* Center the video */
      margin-top: 2px;
      padding-right: 2px;
      max-width: 100%; /* Ensure the video doesn't exceed its container width */
      /* height: auto; Maintain the aspect ratio of the video */
  }
  body{
      overflow-x: hidden;
  }
  .row{
      display: flex ;
  }
  form{
      margin-top: 5px;
  }
  
  .container {
          display: flex;
          justify-content: space-between;
          width: 80%; /* Adjust the width as needed */
          margin: 0 auto;
      }

      form {
          background-color: #fff;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          flex-grow: 1;
          margin-right: 20px; /* Add margin to create space between the form and the video preview */
      }

      label {
          display: block;
          margin-bottom: 8px;
      }

      input,
      button {
          width: 100%;
          padding: 10px;
          margin-bottom: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 16px;
      }

      button {
          background-color: #4caf50;
          color: #fff;
          cursor: pointer;
      }

      button:hover {
          background-color: #45a049;
      }

      input[type="checkbox"] {
          margin-right: 8px;
      }

      #videoPreview {
          width: 30%; /* Adjust the width of the video preview */
          border-radius: 8px;
          position: fixed;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
      }
      #tagContainer {
          display: flex; /* display: flex - states that child content should be coming into the same row, and other property like flex-direction
          and flex-wrap give other options.*/
          flex-wrap:wrap; /*Not required now.*/
          /* flex-direction: row-reverse; */
          margin-bottom: 10px;
      }

      .tag {
          background-color: rgb(151, 146, 146);
          color: #fff;
          padding: 8px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-right: 8px;
      }
      .tag:hover{
          background-color: rgb(85, 82, 82);
      }

      .tag:not(:last-child)::after {
          
          margin-right: 8px;
      }

      .tag-remove {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: black; /* Red background color */
          color: #fff;
          border-radius: 50%;
          cursor: pointer;
          margin-left: 4px;
          width: 20px;
          height: 20px;
          font-size: 12px;
      }

      input {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
      }
      #visibilityCard {
          border: 2px solid #000000d9;
          padding: 5px;
      }
      p{
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
          
      }
      #savePublish{
          display:flex;
      }
      .btn{
          float: right;
          margin-right: 10px;
          margin-top: 5px;
      }
      
  </style>

{{end}}

{{define "Title"}}
<title>Index Page</title>
{{end}}

{{define "content"}}
<div class="row ml-2">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-6 col-lg-6" id="utubeVideoForm">
        <form class="mb-2" name="uploadDetails">
            <div class="h2">
                Details
            </div>
            <div class="row" id="detailsCard">
                <div class="form-group">
                    <label for="title">Title(required)</label>
                    <input type="text" class="form-control"
                        id="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control"
                        rows="3" placeholder="Description"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="category">Category</label>
                        <select id="category" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="audience">Audience(required)</label>
                        <select id="audience" class="form-control">
                            <option selected>It's
                                'Made for Kids'</option>
                            <option>It's not 'Made for Kids'</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="advancedAge">
                    <!--Make it is visible only if abv radio is selected - It's not 'Made for Kids' -->
                    <label for="ageRestrictions">Do you want to restrict
                        your video to an adult audience?</label>
                    <select id="ageRestrictions" class="form-control">
                        <option selected>Yes, restrict my video to
                            viewers over 18</option>
                        <option>No, don't restrict my video
                            to
                            viewers over 18 only</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tag">Tag</label>
                    <div id="tagContainer"></div>
                    <input class="form-control" type="text"
                        id="tagInput">
                    <div class="input-group-append">
                        <span class="input-group-text"
                            id="charCount">0</span>
                    </div>
                </div>
            </div>

            <div class="h2">
                Visibility
            </div>

            <div class="form-row" id="visibilityCard">
                <!-- <span id="savePublish" class="h5">Save or Publish</span>
                <div class="p test-sm">Make your video <b>Public,
                        Unlisted or Private.</b></div> -->

                <div class="row pl-2">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input"
                                type="radio"
                                name="privacy"
                                id="private"
                                value="private">
                            <label for="private">
                                Private
                            </label>
                            <p class="text-sm pl-3">You only can
                                view
                                this
                                video.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-check">
                            <input class="form-check-input"
                                type="radio"
                                name="privacy"
                                id="unlisted"
                                value="unlisted">
                            <label for="unlisted">
                                Unlisted
                            </label>
                            <p class="text-sm pl-3">Anyone with
                                the
                                video
                                link can watch your video.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-check">
                            <input class="form-check-input"
                                type="radio"
                                name="privacy"
                                id="public"
                                value="public">
                            <label for="public">
                                Public
                            </label>
                            <p class="text-sm pl-3">Everyone can
                                watch
                                your
                                video.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn btn-success mb-5"
                id="uploadBtn">upload</button>
        </form>
    </div>
</div>
<div class="col-md-5 col-lg-5">
    <span id="err"></span>
    <div class="row">
        <!-- action="/UploadVideoOnStorageServer" method="POST" -->
        <div class="col-md-6 col-sm-6 col-lg-6 mb-2">
            <form id="fileInput" enctype="multipart/form-data"
                accept=".mp4|video/*">
                <input type="file" name="userFile" />
                <!-- <input type="submit" value="Upload" /> -->
            </form>
        </div>
        <div class="col-sm-5 col-lg-5 col-md-5 mt-4 pr-1">
            <label for="userType">Select task Assignee</label>
            <select id="taskAssignee" class="form-control">
                {{ range (index .CustomData "UserIds")}}
                <option>{{.}}</option>
                {{end}}
            </select>
        </div>
    </div>
    <video class="singleVideo" width="auto" preload="auto"
        controls>
        <source id="lastVideo" src="/static/videos/SampleVideo.mp4"
            type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</div>
{{end}}

{{define "js"}}
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
            
            const tags = [];
            const tagContainer = document.getElementById('tagContainer');
            const fileInput = document.getElementById('fileInput');        
            const tagInput = document.getElementById('tagInput');
            const audience = document.getElementById('audience');       
            const advancedAge = document.getElementById('advancedAge');       
            const uploadButton = document.getElementById("uploadBtn") ;
            const madeForKid = "It's 'Made for Kids'";
            
            document.getElementById("tagInput").placeholder="Use Comma or Enter to seperate the multple tags"
            var mxLimit = 100 ;
            var utilizedcount = 0 ;
            updateCount() ; 
            synchronizeTheScreen("none") ; //initially it is make for kids as well.
            var err_b = document.getElementById("err") ;
            // fileInput.addEventListener('change', function(event){
            //     var formData = new FormData(fileInput);
            //     fetch("/UploadVideoOnStorageServer", {
            //         method : "POST",
            //         body : formData
            //     })
            //     .then(response=>{
            //         if( !response.ok ){
            //             return response.text().then(errorMessage => {
            //                 alert(errorMessage)
			// 				throw new Error(errorMessage);
			// 			});
            //         }
            //         return response.text
            //     })
            //     .then(data=>{
            //         console.log(data)
            //     })
            //     .catch(error=>{
            //         err_b.innerText = error.message ;
            //         console.log(error)
            //         console.error(error);

            //     })
            // }) ;

            audience.addEventListener('change', function(event) {
                if (event.target.value === madeForKid) {
                   synchronizeTheScreen('none') ;
                }else{
                    synchronizeTheScreen('block') ;
                }
            });
            function getTagValues() {
                const tagElements = document.querySelectorAll('.tag');
                tagElements.forEach(tagElement => {     
                    tags.push(tagElement.textContent.split('✕')[0]) ; 
                    
                });
                
            }
            tagInput.addEventListener('keydown', function(event) {                
                if (event.key === 'Enter' || event.key === ',') {
                    event.preventDefault(); // Prevents the default behavior (e.g., newline or comma in the input field)
                    const tagValue = tagInput.value.trim();
                    if (tagValue) {
                        if( utilizedcount + tagValue.length > mxLimit ){
                            alert("Tag character limit reached.");
                            return ; 
                        }
                        utilizedcount += tagValue.length ;
                        updateCount() ;
                        addTag(tagValue);
                        tagInput.value = '';
                    }
                    document.getElementById("tagInput").placeholder="Use Comma or Enter to seperate the multple tags"
                }
            });
    
            function addTag(tagValue) {
                const tagElement = document.createElement('div');
                tagElement.classList.add('tag');
                tagElement.textContent = tagValue;
    
                const removeButton = document.createElement('span');
                removeButton.classList.add('tag-remove');
                removeButton.textContent = '✕';

                tagElement.appendChild(removeButton);

                removeButton.addEventListener('click', function() {
                    tagContainer.removeChild(tagElement);
                    utilizedcount -= tagElement.firstChild.textContent.length;
                    updateCount() ;
                });
    
                
                tagContainer.appendChild(tagElement);
            }
            function updateCount(){
                document.getElementById("charCount").textContent  = Math.min(mxLimit, utilizedcount) + "/" + mxLimit; 
            }

            function synchronizeTheScreen(displayType){
                advancedAge.style.display = displayType ;
            }

            const countriesDropDown = document.getElementById("category");
            for(let i=0; i<5; i++){
                let option = document.createElement("option")
                // option.setAttribute('value', "test") //i dont know why this is needed

                let optionText = document.createTextNode("test" + i);
                option.appendChild(optionText);

                countriesDropDown.appendChild(option);
            }

            countriesDropDown.addEventListener('change', function(event) {
                alert(event.target.value ); 
            });

            uploadButton.addEventListener("click", function(event){
                event.preventDefault() ;
                getTagValues() ;
                alert(tags);

                var formData = document.forms["uploadDetails"] ;
                var userId = document.getElementById("taskAssignee").value
                var xmlFormData = {
                    title : formData["title"].value,
                    description : formData["description"].value,
                    Category : formData["category"].value,
                    audience : formData["audience"].value,
                    ageRestrictions : formData["ageRestrictions"].value,
                    tagInput : tags,
                    privacy : formData["privacy"].value, 
                    coUserId : userId
                };
                alert("upload.html")
                alert(xmlFormData)
                fetch("/fetchAndUploadVideo", {
                    method : "POST",
                    headers : {
                        "Content-Type" : "application/json"
                    },
                    body : JSON.stringify(xmlFormData)
                })
                .then(response=>response.json())
                .then(data=>{
                    alert(data)
                    console.log(data)
                })
                .catch(error => console.error("Error:", error));                
            }) ;



        </script>
{{end}}
